.login .engineers {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 60px;
  color: #000000;
}
.login .community {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 60px;
  color: #000000;
}
.login .group-16 {
  position: relative;
  margin: 0 0.3px 42px 0;
  display: flex;
  padding-right: 8.8px;
  height: 135px;
  box-sizing: border-box;
}
.login .username-email-id {
  margin: 0 1.6px 15.1px 1.6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
}
.login .rectangle-9 {
  border-radius: 10px;
  border: 3px solid #000000;
  background: #D9D9D9;
  width: 857px;
  height: 99.9px;
}
.login .group-12 {
  border-radius: 10px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.login .password {
  margin: 0 0.9px 15px 0.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
}
.login .rectangle-10 {
  border-radius: 10px;
  border: 3px solid #000000;
  background: #D9D9D9;
  width: 857px;
  height: 100px;
}
.login .group-13 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.login .group-14 {
  border-radius: 10px;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.login .rectangle-11 {
  border-radius: 5px;
  border: 3px solid #000000;
  background: rgba(217, 217, 217, 0.5);
  margin-right: 11.7px;
  width: 30px;
  height: 30px;
}
.login .remember-me {
  margin-top: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.login .container-1 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.login .forgot-your-password {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.login .container {
  margin: 0 0 56px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 842px;
  box-sizing: border-box;
}
.login .login {
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.login .group-18 {
  border-radius: 10px;
  border: 3px solid #000000;
  background: #D9D9D9;
  position: relative;
  margin: 0 0 17px 1px;
  display: flex;
  padding: 15px 1px 16px 0;
  width: 210px;
  box-sizing: border-box;
}
.login .doesnt-have-an-account-sign-up {
  margin-left: 2px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.doesnt-have-an-account-sign-up-sub5 {
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.doesnt-have-an-account-sign-up {
  font-family: 'Fjalla One';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.login .group-19 {
  border-radius: 20px;
  background: rgba(51, 40, 40, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 56px 26px 58px;
  width: fit-content;
  box-sizing: border-box;
}
.login-1 {
  background: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0 59px 0;
  width: 1440px;
  box-sizing: border-box;
}
